# Lab 9
## For Loop in Python

In [9]:
#q1
class_fellows = [
    {"id": 91, "name": "Yameen"},
    {"id": 79, "name": "Sohaib"},
    {"id": 101, "name": "Mirza"},
    {"id": 88, "name": "Sibghat"},
    {"id": 83, "name": "Ahsan"},
    {"id": 82, "name": "Talha"},
    {"id": 78, "name": "Aliyan"},
    {"id": 115, "name": "Basiq"},
    {"id": 86, "name": "Hassan"},
    {"id": 99, "name": "Sumair"},
    {"id": 69, "name": "Shabahat"}
]

for fellow in class_fellows:
    if fellow["id"] % 2 == 0:
        print(f"ID: {fellow['id']}, Name: {fellow['name']}")

ID: 88, Name: Sibghat
ID: 82, Name: Talha
ID: 78, Name: Aliyan
ID: 86, Name: Hassan

In [3]:
#q2
class_fellows = [
    {"id": 116, "name": "Furqan"},
    {"id": 91, "name": "Yameen"},
    {"id": 79, "name": "Sohaib"},
    {"id": 101, "name": "Mirza"},
    {"id": 88, "name": "Sibghat"},
    {"id": 83, "name": "Ahsan"},
    {"id": 83, "name": "Talha"},
    {"id": 78, "name": "Aliyan"},
    {"id": 115, "name": "Basiq"},
    {"id": 86, "name": "Hassan"},
    {"id": 99, "name": "Sumair"},
    {"id": 69, "name": "Shabahat"}
]

# Print even IDs
print("Even IDs:")
for fellow in class_fellows:
    if fellow["id"] % 2 == 0:
        print(f"ID: {fellow['id']}, Name: {fellow['name']}")

# Print odd IDs
print("\nOdd IDs:")
for fellow in class_fellows:
    if fellow["id"] % 2 != 0:
        print(f"ID: {fellow['id']}, Name: {fellow['name']}")

Even IDs:
ID: 116, Name: Furqan
ID: 88, Name: Sibghat
ID: 78, Name: Aliyan
ID: 86, Name: Hassan

Odd IDs:
ID: 91, Name: Yameen
ID: 79, Name: Sohaib
ID: 101, Name: Mirza
ID: 83, Name: Ahsan
ID: 83, Name: Talha
ID: 115, Name: Basiq
ID: 99, Name: Sumair
ID: 69, Name: Shabahat

In [11]:
#q3
numbers_list = [
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
    (10, 11, 12),
    (13, 14, 15),
    (16, 17, 18),
    (19, 20, 21),
    (22, 23, 24),
    (25, 26, 27),
    (28, 29, 30),
    (31, 32, 33),
    (34, 35, 36)
]

last_values = [tup[2] for tup in numbers_list]
print(last_values)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36]

In [16]:
#q4
semester_courses = {
    "DSA": 80,
    "SER": 69,
    "PS": 60, 
    "HCI": 82,
    "HRM":78,
}
total_marks = 0
for courses, marks in semester_courses.items():
    print(f"{courses} : {marks}")

for marks in semester_courses.values():
    total_marks += marks
print(f"Total Marks: {total_marks}")

DSA : 80
SER : 69
PS : 60
HCI : 82
HRM : 78
Total Marks: 369