In [13]:
# Q1.
dsa = 81
hrm = 85
ps = 75
sre = 78
hci = 71
total = 500

obtained = dsa + hrm + ps + sre + hci
print('Obtained Marks')
print(obtained)

obtained *= 100
per = obtained / total
print('percentage')
print(per)

Obtained Marks
390
percentage
78.0

In [47]:
a = 101
b = 500
c = 204

a %= 2
if a==0:
    print('Even')
else:
    print('odd')
b %= 2
if b==0:
    print('Even')
else:
    print('odd')
c %= 2
if c==0:
    print('Even')
else:
    print('odd')

odd
Even
Even

In [48]:
salary = 30000
tax_percentage = 15/100

tax = salary * tax_percentage
print(tax)

4500.0

In [57]:
a = 12.087678992
b = 8.73235775
c = 54.958997382

print(round(a,2))
print(round(b,3))
print(round(c,4))

12.09
8.732
54.959

In [63]:
c = 12.4
d = 3000
print(type(c), type(d))

<class 'float'> <class 'int'>

In [68]:
con = 6.0

con = int(con)
print(con)

6